@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap");

body {
  margin: 0;
  font-family: "Inter";
}

.title {
  font-family: "Inter";
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f172a;
  color: white;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.title-btn {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.position {
  text-align: center;
  font-weight: 100;
  margin: 0;
}

.name {
  color: #60a5fa;
}

.btn {
  margin-top: 25px;
  height: 50px;
  width: 50%;
  font-size: 30px;
  font-weight: 100;
  border-radius: 20px;
  border-style: none;
  background-color: #172554;
  color: white;
}
